@import '@/styles/styles.scss';

.header {
  height: 50px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 0 -2px rgb(0, 0, 0, 0.05);
}

.home {
  @include typo(body-b);
  color: $--dark-element;
  text-decoration: none;
}

.mode-switcher {
  border: 0;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  @include typo(body-sm);
  color: $--dark-element;

  svg path {
    fill: $--dark-element;
  }
}
