@import '@/styles/styles.scss';

.header {
  height: 50px;
  padding: 0 24px;
  display: flex;
  align-items: center;
}

.home {
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
}

.mode-switcher {
  border: 0;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}
